body{
background-color: #455A64;

}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img{
    width: 300px;
    margin: 0;
    padding: 0;
    height: 100px;
}

.logo p a{
    text-decoration: none;
    color: #fff;
}
.login{
    width: 30%;
    height: 450px;
    border-style: solid;
    border: 2px;
    border-color: black;
    background-color: #9E9E9E;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 3%;
    position: relative;
    padding: 10px;
    
}

.photo-perfil{
    width: 70%;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

@media(min-width:300px) and (max-width: 765px){
    .login{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .logo img{
        width: 200px;
    }
}
.credencials{
 position: relative
}

.form-group{
   text-align: center;
   
}

.credencials input{
    border-radius: 5px;
}

.sign{
    position: absolute;
    right: 41%;
}