.photo{
    width: 50px;
    height:50px;
    border: 2px solid #000;
    /* background-image: url(../img/loading.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.photo img{
    position: absolute;
    width: 100%;
}

.navbar-brand img{
    width: 120px;
    
}
body{
    
    background-color: #607D8B;
}
.feed{
    border: 2px solid #757575;
    padding: 10px;
    background-color: #fff;
}

.post{
    border-top: 2px dashed black;
}

.yourself{
    width: 80%;
    height: 200px;
    border: 2px solid black;
    background-color: #455A64;
    padding: 10px;
    
}

@media(max-width: 765px){
    .yourself{
        display: none;
    }
}

.yourself a{
    text-decoration: none;
    color: #BDBDBD;
}

.right{
    position: fixed;
    right: 20px;
}

.info a{
    color: #fff;
    text-decoration: none;
    
}

.info p:hover{
    color: #BDBDBD;
    transform: translate(0, -5px);
    transition: 0.8s;
    
}

.chat{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10%;
    right: 10%;
    border-radius: 50%;
    background-image: url(../img/conversation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    border-width: 5px;
    border-style: solid;
    background-color: #9E9E9E;
}

.chat:hover{
    cursor: pointer;
}

.chat-number{
    width: 50px;
    height: 50px;
    background-color: rgb(206, 45, 45);
    border: 1px solid black;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    padding: 10px;
    
}

footer{
    width: 100%;
    height: 50px;
    background: #9E9E9E;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    display: flex;
    
}
footer div{
    padding: 0;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer img{
    width: 80px;
}